#formulario {
    width: 400px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input {
    margin-bottom: 15px;
    width: 300px;
    padding: 4px;
    box-sizing: border-box;
}

textarea {
    width: 300px;
    vertical-align: top;
    height: 5em;
    resize: vertical;
    margin-bottom: 15px;
    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

button {
    margin-left: 94px;
}