* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
}

#main-content {
    color: rgb(218, 35, 105);
    padding: 10px;
}

#js h1 {
    font-size: 34px;
    text-align: center;
    color: brown;
    padding: 10px 0;
}

#imc {
    width: 480px;
    margin: 10px auto;
    padding: 0 20px;
    border: 2px solid rgb(139, 10, 81);
    border-radius: 5px;
}

#imc ul {
    list-style: none;
}

#imc ul li {
    font-size: 26px;
    padding: 20px;
}

#imc ul li h1 {
    text-align: center;
    font-size: 36px;
}

#imc ul li input {
    width: 200px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid rgb(61, 61, 61);;
    border-radius: 3px;
    float: right;
}

#imc ul li button {
    width: 300px;
    color: rgb(153, 7, 68);
    font-size: 20px;
    font-weight: 500;
    padding: 7px;
    display: block;
    margin: 0 auto;
    background: #fff;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 4px;
}

#imc ul li button:hover {
    color: #fff;
    background: rgb(141, 13, 88);
}

#result {
    text-align: center;
    color: rgb(56, 56, 56);
}

#result div {
    padding: 10px;
}