body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.content {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.content button {
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 30px;
    width: 80%;
    border: 1px solid rgb(3, 90, 71);
    border-radius: 8px;
    padding: 8px;
}

.content button:hover {
    background-color: rgb(4, 139, 133);
    color: #fff;
}

.title {
    color: #666;
    padding: 10px;
    border-bottom: 1px solid #bbb;
}

.subtitle {
    color: #444;
}

.area-automoveis ul {
    list-style: none;
}

.area-input input {
    width: 80px;
}

#result {
    text-align: center;
    color: rgb(5, 110, 105);
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}
